@import "tailwindcss";

@theme {

  --font-inter: var(--font-custom);
  --font-poppins: var(--font-custom-poppins);

  --max-width-8xl: 1400px;
  --max-width-9xl: 1600px;

  --color-primary-blue: #1d2c4e;

  --color-primary-gray: #d8d8d8;
  --color-secondary-gray: #9e9e9e;
  --color-third-gray: #909091;
  --color-fourth-gray: #eaeaea;
  --color-fifth-gray: #898989;

  --color-primary-green: #47b77d;
  --color-secondary-green: #00c395;
  --color-third-green: #00f9b8;

  --breakpoint-3xl: 120rem;
}

.bg-body {
    background-image: url('/assets/images/bg-home.png');
}

.bg-sidebar {
    background-image: url('/assets/images/bg-sidebar.png');
}

.bg-inputs {
    background-color: rgb(191, 192, 193, 0.3);
}
